@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aplicación para gestión de usuarios desarrollada en ASP.NET Core MVC utilizando Dapper, SQL Server, Bootstrap 5 y un sistema de login simple basado en email + rol.</p>
    <a class="btn btn-outline-primary btn-sm" asp-controller="Account" asp-action="Login">Iniciar sesión</a>
</div>
